.header-simple
  %h1
    = image_tag 'logo.svg', alt: '', height: '49px', width: '185px', class: ''
  %nav.progress-ber.sign-up
    %ol.clearfix
      %li.active 
        会員情報
        .progress-status.progress1
      %li 
        電話番号認証
        .progress-status.progress2
      %li 
        お届け先住所入力
        .progress-status.progress3
      %li 
        支払い情報
        .progress-status.progress4
      %li 
        完了
        .progress-status.progress5
  
.input_info    
  .main
    .main_zone
      .input_form
        %h2.input_registration 会員情報入力
        .input_inner
          .input_content
            .form_group
              .input_form_default
                %h3 ニックネーム
                %span 必須
              %input.add_info{placeholder: "例)メルカリ太郎"}
            .form_group
              .input_form_default
                %h3 メールアドレス
                %span 必須
              %input.add_info{placeholder: "PC・携帯どちらでも可"}
            .form_group
              .input_form_default
                %h3 パスワード
                %span 必須
              %input.add_info{placeholder: "7文字以上"}
            .form_group
              .input_form_default
                %h3 パスワード (確認)
                %span 必須
              %input.add_info{placeholder: "7文字以上"}
            .form_group
              %h3.check_user 本人確認
              %p.attention_msg 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
            .form_group
              .input_form_default
                %h3 お名前 (全角)
                %span 必須
              %input.info_half.first_of_half{placeholder: "例)山田"}
              %input.info_half{placeholder: "例)彩"}
            .form_group
              .input_form_default
                %h3 お名前カナ (全角)
                %span 必須
              %input.info_half.first_of_half{placeholder: "例)ヤマダ"}
              %input.info_half{placeholder: "例)アヤ"}
            .form_group
              .input_form_default
                %h3 生年月日
                %span 必須
              .birthday_select_wrap
                -# .select-wrap
                -#   = select_year(Date.today, start_year: 2019, end_year: 1900,field_name: '--')
                -# %span 年
                -# .select-wrap.select-wrap-month
                -#   = select_month(Date.today, use_month_numbers: true)
                -# %span 月
                -# .select-wrap.select-wrap-day
                -#   = select_day(Date.today,)
                -# %span 日
            %p.form-into-text
              ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          .i_single_content
            .form_group
              %p.i_single_text
                「次へ進む」のボタンを押すことにより、
                = link_to '利用規約', root_path
                に同意したものとみなします
              %button.btn_red
                次へ進む
              .text_right
                = link_to '本人情報の登録について>'

= render 'users/footer_simple'

-# inputを押した時にpaddingできてないためにカーソルが1番端にくるのを修正が必要