.footer_text
  = link_to('プライバシーポリシー', {})
  = link_to('メルカリ利用規約', {})
  = link_to('特定商取引に関する表記', {})
.footer__image
  = image_tag 'logo-gray.svg', alt: '', height: '65px', width: '80px', class: 'mercari_image'
  %p© 2019 Mercari
    