.header-simple
  %h1
    = image_tag 'logo.svg', alt: '', height: '49px', width: '185px', class: ''
.main
  .main_zone
    %h2.input_registration 会員情報入力

    .sell-form__name__upper
      %h3 ニックネーム
      %span 必須
    %input.sell-form__name__lower{placeholder: "例)メルカリ太郎"}




= render 'footer_simple'