.pagepath
  %ul
    %li.pass-page
      %a{ href: 'https://www.mercari.com/jp/'}
        %span.pass-page__title
          メルカリ
      = fa_icon 'angle-right', class: "icon-arrow-right"
    %li.pass-page
      %span.pass-page__title
        マイページ


