.bottom{
  background-color: bisque;
  height: 260px;
  display: flex;
  justify-content: center;
  &-text{
    &__upper{
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 15px;
    }
    &__lower{
      font-size: 35px;
      margin-bottom: 20px;
    }
  }
  &-icon{
    display: flex;
    
    &__merucari img{
      height: 68px;
      width: 68px;
      margin-right: 20px;
    }
    &__appstore img{
      height: 40px;
      margin-right: 8px;
      width: 144px;
    }
    &__googleplay{
      height: 40px;
      margin-right: 8px;
      width: 144px;
    }
  }
  &-right{
    &__freetag img{
      width: 300px;
      height: 260px;
    }
  }
}




.footer{
  background-color: rgb(34, 34, 34);
  color: white;
  justify-content: center;
  &-text{
    display: flex;
    width: 1020px;
    margin: 0 auto;
    &__title h2{
      font-weight: bold;
      font-size: 16px;
      margin: 16px;
    }
    &__middle{
      margin-top: 42px;
      font-size: 10px;
    }
    &__list {
      margin: 16px;
      font-size: 10px;
      &__icon{
        float: left;
        margin: 15px; 
      }
    }
  }
  &-last{
    display: flex;
    &-icon{
      margin: 16px;
    }
    &-text{
      font-size: 5px;
    }
  }
}