.sell-btn{
  font-size: 22px;
  background-color: $red;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 32px;
  right: 32px;
  &__text{
    padding-top: 30px;
    line-height: 10px;
    color: $white;
  }
  &__icon{
    font-size: 3em;
    color: $white;
  }
}
