.header-simple {
  background: #f5f5f5;
  text-align: center;
  height:128px;
  h1 {
    display: inline-block;
    margin: 40px 0 0;
    font-size: inherit;
    img {
      margin-right: 8px;
    }
  }
}
